set mark-symlinked-directories on
set bell-style none

# Disable arrow keys
"\e[A": ""
"\e[B": ""
"\e[C": ""
"\e[D": ""

# set keymap vi-command
# "\C-\M-e": emacs-editing-mode
#
# set keymap vi-insert
# "\C-\M-e": emacs-editing-mode
#
# set keymap emacs
# "\C-\M-e": vi-editing-mode
