


download_rate = 1000
upload_rate = 50

min_peers = 50
max_peers = 500

max_peers_seed = 100

max_uploads = 25

port_random = yes

check_hash = yes

encryption = allow_incoming,enable_retry,try_outgoing
use_udp_trackers = yes

dht=auto
peer_exchange = yes

session = ~/Downloads/rtorrent/.session
directory = ~/Data/Torrents/

schedule = low_diskspace,5,60,close_low_diskspace=2048M

schedule = watch_directory,5,5,"load=~/Downloads/*.torrent"

system.method.set_key = event.download.finished,make_torrent_link,"create_link=base_filename,~/Data/Torrents,"
