# Color / Canvas patch
# 0 - Black
# 1 - Red
# 2 - Green
# 3 - Yellow
# 4 - Cool Blue
# 5 - Purple
# 6 - Light Blue
# 7 - White

# Color patch needs to be applied (see .bashrc.setup).
color_dead_fg = 1
color_dead_bg = 0
color_inactive_fg = 3
color_inactive_bg = 0
color_finished_fg = 6
color_finished_bg = 0
color_active_fg = 5
color_active_bg = 0

# ------------------------------------------------------------------------------

download_rate = 1000
upload_rate = 50

min_peers = 50
max_peers = 500

max_peers_seed = 100

max_uploads = 25

port_random = yes

check_hash = yes

encryption = allow_incoming,enable_retry,try_outgoing
# use_udp_trackers = yes # -- deprecated by new rtorrent?

dht=on
# peer_exchange = yes # -- deprecated by new rtorrent?

session = ~/Downloads/rtorrent/.session
directory = ~/Data/Torrents/

schedule = low_diskspace,5,60,close_low_diskspace=2048M

schedule = watch_directory,5,5,"load.start=~/Downloads/*.torrent"

# system.method.set_key = event.download.finished,make_torrent_link,"create_link=base_filename,~/Data/Torrents/," # -- deprecated by new rtorrent?

